.registration{
    padding: 25px 0;
}

.registration-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.registration__form{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form__note{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
    color: rgba(218, 102, 44, 1);
    text-align: center;
    padding: 0 25px;
}

.form__inputs{
    padding: 0 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.radio-group{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 10px;
}

@media (max-width: 400px) {
    .form__inputs{
        padding: 0;
    }

    .form__note{
        padding: 0;
    }
}