.container {
    width: 100%;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    display: none;
}

.label {
    width: 100%;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    padding-left: 30px;
}

.label:before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0px;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 3px solid white;
    outline: 1px solid #000000;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.label--error:before {
    outline: 2px solid #ff0000;
}

.label a{
    text-decoration: underline;
    color: #000000;
}

.input:checked + .label:before {
    background: #000000;
}