.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal__video{
    width: 560px;
    height: 315px;
}

@media (max-width: 700px) {
    .modal__video{
        width: 350px;
        height: 200px;
    }
}