.video-button{
    max-width: 988px;
    width: 100%;
    padding: 37px 80px;
    border-radius: 15px;
    background-color: #E6E6E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    border: none;
    cursor: pointer;
    transition: background-color .8s ease-in-out;
}

.video-button__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 138px;
}

.video-button__text{
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    transition: color .8s ease-in-out;
}

@media (max-width: 1000px) {
    .video-button{
        padding: 25px;
    }

    .video-button__text{
        font-size: 28px;
        font-weight: 600;
        line-height: 23.4px;
    }

    .video-button__icon{
        width: 100px;
        height: 96px;
    }
}

@media (max-width: 600px) {
    .video-button__text{
        font-size: 18px;
        font-weight: 600;
        line-height: 23.4px;
    }

    .video-button__icon{
        width: 70px;
        height: 67px;
    }
}

@media (hover) {
    .video-button:hover{
        background-color: rgba(45, 111, 74, 1);
    }

    .video-button:hover .video-button__text{
        color: #fff;
    }
}