.button{
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: rgba(218, 102, 44, 1);

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    color: #FFFFFF;

    cursor: pointer;
}